{
    "extends": "google",
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": { "ecmaVersion": 2017 },
    "rules": {
        "object-curly-spacing": ["error", "always"],
        "require-jsdoc": "off",
        "indent": ["error", 4],
        "max-len": ["error", 120],
        "linebreak-style": "off",
        "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_"}]
    }
}
